@inherits FieldComponent

<div class="m-2 w-25">
    <div class="@("input-group w-100 " + Class)">
        @if (HasIconLabel)
        {
            @if (LabelType == LabelType.Before)
            {
                @if (!string.IsNullOrEmpty(LocalizedLabel))
                {
                    <label for="@LocalizedLabelId" class="form-label">@Localizer[LocalizedLabel]</label>
                }
                <div class="input-group has-validation">
                    <span class="input-group-text" id="@(IconLabelId)">@IconLabel</span>
                    <input type="@InputTypeString" class="form-control" @bind-value="@InputOne" placeholder="@Localizer[InputOnePlaceholder]" aria-describedby="@(IconLabelId)" aria-labelledby="@(!string.IsNullOrEmpty(LocalizedDescription) ? LocalizedDescriptionId : "")" />
                    <div class="invalid-feedback">
                        @LocalizedRequiredError
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(LocalizedDescription))
                {
                    <small id="@LocalizedDescriptionId" class="mt-1">@Localizer[LocalizedDescription]</small>
                }

            }
            else if (LabelType == LabelType.After)
            {
                @if (!string.IsNullOrEmpty(LocalizedLabel))
                {
                    <label for="@LocalizedLabelId" class="form-label">@Localizer[LocalizedLabel]</label>
                }

                <div class="input-group has-validation">
                    <input type="@InputTypeString" class="form-control" @bind-value="@InputOne" placeholder="@Localizer[InputOnePlaceholder]" aria-describedby="@(IconLabelId)" />
                    <span class="input-group-text" id="@(IconLabelId)">@IconLabel</span>
                    <div class="invalid-feedback">
                        @LocalizedRequiredError
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(LocalizedDescription))
                {
                    <small id="@LocalizedDescriptionId" class="mt-1">@Localizer[LocalizedDescription]</small>
                }
            }
        }
        else
        {
            @if (!string.IsNullOrEmpty(LocalizedLabel))
            {
                <label for="@LocalizedLabelId" class="form-label">@Localizer[LocalizedLabel]</label>
            }
            <div class="input-group has-validation w-100 flex-column">
                <input type="@InputType"
                   class="form-control w-100"
                   placeholder="@Localizer[InputOnePlaceholder]"
                   id="@(!string.IsNullOrEmpty(LocalizedLabel) ? LocalizedLabelId : "")"
                   aria-labelledby="@(!string.IsNullOrEmpty(LocalizedDescription) ? LocalizedDescriptionId : "")" />
                @if (!string.IsNullOrEmpty(LocalizedDescription))
                {
                    <small id="@LocalizedDescriptionId">@Localizer[LocalizedDescription]</small>
                }
                <div class="invalid-feedback">
                    @LocalizedRequiredError
                </div>
            </div>
        }
    </div>
</div>
